---
// src/components/AboutIntro.astro
---

<section class="bg-white dark:bg-gray-900">
    <div class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6">
        <div class="mt-4 md:mt-0">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Mewujudkan Energi Terbarukan untuk Bisnis Berkelanjutan Anda.</h2>
            <p class="mb-6 font-light text-gray-500 md:text-lg dark:text-gray-400"><strong>Turunkan Biaya Operasional, Penuhi Target ESG. Solusi Energi Cerdas untuk Industri & Komersial.</strong></p>
            <p class="mb-6 font-light text-gray-500 md:text-lg dark:text-gray-400">Ubah atap pabrik, gedung, dan lahan tak terpakai Anda menjadi aset produktif. Solar-Nusantara.ID adalah mitra strategis Anda dalam merancang dan mengimplementasikan solusi energi terbarukan yang andal dan terukur.</p>
            <p class="mb-6 font-light text-gray-500 md:text-lg dark:text-gray-400">Layanan kami dirancang untuk hasil bisnis yang nyata: dari instalasi panel surya skala besar yang memangkas OPEX secara signifikan, sistem manajemen energi untuk meningkatkan efisiensi pabrik, hingga solusi biomassa untuk mengurangi jejak karbon Anda.</p>
        </div>
        <img class="w-full hidden md:block" src="/src/assets/logo2.png" alt="dashboard image">
    </div>
</section>