---
// src/components/Footer.astro
import Copyright from './Copyright.astro';
---

<footer>
  <!-- Logo, info kontak (Telepon, Alamat, Email), gambar ISO, ikon media sosial, dan menu navigasi footer. -->
  <p>Footer</p>
  <Copyright />
</footer>
