---
// src/components/StatsGrid.astro
import StatItem from './StatItem.astro';
---

<div>
  <!-- Menampilkan data/statistik dalam bentuk grid. -->
  <p>Stats Grid</p>
  <StatItem />
  <StatItem />
  <StatItem />
</div>
